h5{
    background-color:yellow;
}
p{
    background-color:powderblue;
}
h4{
    background-color:yellow;
}

#wallpaper{
    text-align: center;
    padding: 16px; 
    /* font-weight:400px ; */
    font-size:auto;
   
   
}
/* .topnav{
    text-align: center;
    padding-bottom: 16px;
}
     */
     .right{
         margin:16px;
     }